* {
    margin: 0;
    padding: 0;
}

.game-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#game-board {
    position: relative;
    width: 800px;
    height: 600px;
    border: 1px solid #000;
}

#snake {
    position: absolute;
    background-color: gray;
    z-index: 10;
}

.food {
    position: absolute;
}

.apple {
    background-color: green;
    background-image: url("./assets/img/apple.jpg");
    background-size: contain;
}

.pear {
    background-color: orange;
}

.banana {
    background-color: yellow;
}

.boost {
    background-color: red;
}

.slowdown {
    background-color: lightblue;
}

.bomb {
    background-color: black;
}

.double {
    background-color: violet;
}

.game-control {
    margin-top: 10px;
}